/* Basic styling for the navbar */
.navbar {
  background-color: #4691e2;
  padding: 10px 20px;
  color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1000;
}

.navbar-container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: flex-start; /* Change to flex-start for left alignment */
}

.navbar-brand {
  font-size: 1.5em;
  font-weight: bold;
  color: #fff;
  text-decoration: none;
}

/* Responsive styling */
@media (max-width: 600px) {
  .navbar {
    padding: 10px;
  }

  .navbar-brand {
    font-size: 1.2em;
  }
}
